<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>progress-bar-for-games-vector-13458538-removebg-preview_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,44},{148,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,15}}</string>
				<key>sourceSize</key>
				<string>{148,15}</string>
			</dict>

			<key>progress-bar-for-games-vector-13458538-removebg-preview_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{148,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,14}}</string>
				<key>sourceSize</key>
				<string>{148,14}</string>
			</dict>

			<key>progress-bar-for-games-vector-13458538-removebg-preview_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{149,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,14}}</string>
				<key>sourceSize</key>
				<string>{149,14}</string>
			</dict>

			<key>progress-bar-for-games-vector-13458538-removebg-preview_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,15},{149,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,14}}</string>
				<key>sourceSize</key>
				<string>{149,14}</string>
			</dict>

			<key>progress-bar-for-games-vector-13458538-removebg-preview_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{148,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,14}}</string>
				<key>sourceSize</key>
				<string>{148,14}</string>
			</dict>

			<key>progress-bar-for-games-vector-13458538-removebg-preview_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{148,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,15}}</string>
				<key>sourceSize</key>
				<string>{148,15}</string>
			</dict>

			<key>progress-bar-for-games-vector-13458538-removebg-preview_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,60},{148,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,13}}</string>
				<key>sourceSize</key>
				<string>{148,13}</string>
			</dict>

			<key>progress-bar-for-games-vector-13458538-removebg-preview_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,30},{148,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,13}}</string>
				<key>sourceSize</key>
				<string>{148,13}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{256,128}</string>
			<key>textureFileName</key>
			<string>progessBar.png</string>
			</dict>
		</dict>
</plist>